/* Copyright 2013 The MathWorks, Inc. */

      body {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 100px;
        }
      
      h1 {
        font-family: "Futura Std", Arial, Helvetica,sans-serif;
        font-style: normal;
        font-weight: 500;
        color: #D55000;
        line-height: 130%;
        letter-spacing: -.02em;
        font-size: 1.7em;
        padding-bottom: 10px;
        }
      
      h2 {
        padding-top: 12px;
        padding-bottom: 0px;
        margin: 0px 0px 8px 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: black;
        font-weight: bold;
        line-height: 140%;
        display: block;
        }
      
      h3 {
        padding: 2px 0px 0px;
        margin: -22px 0px 25px;
        font-family: "futura-pt-n4","futura-pt","Arial","Helvetica",sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -.02em;
        font-size: 16px;
        color: #6A6A6A;
        border-top: 1px dotted #6A6A6A;
        border-bottom: none;
        }
      
      p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #3C3C3C;
        line-height: 140%;
        padding: 0px;
        margin: 0px 0px 16px 0px;
        }
      
      .product {
        color:gray;
        border-bottom:1px dotted gray;
        margin-top: 16px;
        }
      
      .subhead {
        padding: 2px 0px;
        padding-top: 10px;
        margin: -22px 0px 25px;
        font-family: "futura-pt-n4","futura-pt","Arial","Helvetica",sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -.02em;
        font-size: 12px;
        color: #6A6A6A;
        border-top: 1px dotted #6A6A6A;
        border-bottom: none;
        line-height: 140%;
        }
      
      
      /* List styles */
      ul {
        padding-left: 20px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        margin-top: 12px;
        }
      
      ul li {
        padding: 0px;
        margin-bottom: 7px;
        list-style-type: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #3C3C3C;
        line-height: 140%;
        }
      
      .actions {
        list-style-type: circle;
        }
      
      
      /* Status styles */
      .add {
        font-weight: bold;
        color: rgb(78,119,79);
        background-color: rgb(223,240,216);
        padding: 4px;
        }
      
      .update {
        font-weight: bold;
        color: rgb(74,135,178);
        background-color: rgb(217,236,247);
        padding: 4px;
         }
      
      .delete{
        font-weight: bold;
        color: rgb(189,90,104);
        background-color: rgb(242,222,222);
        padding: 4px;
        }
